<%- include('../partials/header') %> 
<%- include('../partials/nav') %>

<body class="">
  <!-- Hero Section -->
  <section class="">
    <h2 class="">La magie du cinéma dans votre assiette</h2>
    <p class="">
      Découvrez et partagez des recettes légendaires inspirées de vos films et
      séries préférés
    </p>
    <div class="">
      <div class="">
        <input
          type="text"
          class=""
          placeholder="Recherche par recette ou par Film & Série"
        />
        <button class="">Rechercher</button>
      </div>
    </div>
  </section>

  <!-- Comment ca fonctionne -->
  <section class="">
    <div class="">
      <h3 class="">Comment ca fonctionne</h3>
      <div class="">
        <div>
          <div class="">1</div>
          <p class="">Sélectionnez une œuvre culte</p>
        </div>
        <div>
          <div class="">2</div>
          <p class="">Découvrez la recette associée</p>
        </div>
        <div>
          <div class="">3</div>
          <p class="">Chauffez votre poêle</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Catégories -->
  <section class="">
    <div class="">
      <div class="">
        <div class="">
          <img src="" alt="" class="" />
          <h4 class="">Recettes cultes, inspirées de films classiques</h4>
          <p class="">
            Revisitez les plats légendaires de films iconiques. De la
            Ratatouille de Rémy à la fameuse tarte aux cerises de Twin Peaks,
            laissez-vous séduire par des créations devenues des classiques
            culinaires.
          </p>
        </div>

        <div class="">
          <img src="" alt="" class="" />
          <h4 class="">Séries gourmandes</h4>
          <p class="">
            Plongez dans l'univers des séries avec des recettes aussi
            captivantes que vos épisodes préférés. Retrouvez des plats inspirés
            de Game of Thrones, Friends ou encore Breaking Bad.
          </p>
        </div>

        <div class="">
          <img src="" alt="" class="" />
          <h4 class="">Desserts fantastiques</h4>
          <p class="">
            Revisitez la tarte iconique de Twin Peaks...
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- cartes recettes -->
  <section class="">
    <div class="">
      <h3 class="">Les recettes à ne pas manquer</h3>
      <div class="">
        <button class="">Tous</button>
        <button class="">Entrées</button>
        <button class="">Plats</button>
        <button class="">Desserts</button>
      </div>

  <section class="">
    <div class="">
      <div class="">
        <article>
            <img > => Css : relative
              <div > => Css : absolute
               <p>Plat principal</p> => Css : relative
               </div>
            <main>
                <h4>Ratatouille</h4>
                <p>Ratatouille (film)</p>
                <p>La fameuse ......</p>
            </main>
            <footer>
                <button><a href="./recette.html">Voir la recette</a></button>
            </footer>
        </article>

        <!-- Ejs -->
      </div>
    </div>
  </section>

  

<!-- Footer -->

  <%- include('../partials/footer') %>